*{
    margin: 0;
    padding: 0;
}


body{
    font-family:"Droid Arabic Kufi", serif
}

.overview_intro{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn_go_home{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: "Droid Arabic Kufi", serif;
}

.overview{
    color: gray;
    font-family: "Droid Arabic Kufi", serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.hr_style{
    background-color: rgb(192, 189, 189);
}

.h1_style{
    font-family: "Droid Arabic Kufi", serif;
    font-size: 50px;
    font-weight: bold;
}

.p_style{
    text-align: center;
    width: 800px;
    font-family: "Droid Arabic Kufi", serif;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

.section_2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.section_2_inside{
    display: block;
    justify-content: center;
}

.section_2_cards{
    padding-top: 30px;
    display: inline-flex;
    gap: 30px;
    cursor: pointer;
}



.section_2_card{
    background-color: white;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

.section_2_card:hover{
    scale:  calc(1.1);
    font-weight:"bold";
    transition: 0.5s ease;
}

.txt_card_sec_2{
    font-family: "Droid Arabic Kufi", serif;
    text-align: center;
    color: #ECB22F;
    font-weight:"bold";
    font-size:15px;
}

.section_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100wh;
    height: 100vh;
    background-color: #F5F7E1;
}

.cards_sec_3{
    display: flex;
    gap: 30px;
}

.card_sec_3{
    background-color: white;
    height: 300px;
    width: 350px;
    border-radius: 15px;
    cursor: pointer;
}

.card_sec_3:hover{
    scale:  calc(1.1);
    background-color: #ECB22F;
    color: white;
    transition: 0.5s ease;
}

.h1_card_sec3{
    margin-top: 10px;
    margin-right: 15px;
    text-align: right;
    font-family: "Droid Arabic Kufi", serif;
    font-size:25px;
    font-weight:"bold";
}

.p_sec_3{
    text-align: center;
    width: 330px;
    font-family: "Droid Arabic Kufi", serif;
    color: gray;
    line-height: 1.6;
    font-size: 20px;
}


.section_4{
    height: 100vh;
    background-color: white;
}

.h1_sec_4{
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
}

.content_sec_4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards_sec_4{
    display: flex;
    gap: 30px;
}

.card_sec_4{
    width: 250px;
    height: 250px;
    background-color: #ECB22F;
    border-radius: 10px;
}

.icon_sec_4{
    display: flex;
    justify-content: center
}

.content_icon_sec_4{
    margin-top: 20px;
}

.txt_content_icon_sec_4{
    text-align: center;
    color: white;
}

.section_5{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #F5F7E1;
}

.h1_sec_5{
    padding-top: 70px;
}

.cards_sec_5{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.card_sec_5{
    width: 250px;
    height: 250px;
}

.div_icon{
    display: flex;
    justify-content: center;
}

.div_title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.div_dis{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.div_dis_txt{
    text-align: center;
    color: gray;
    line-height: 1.6;
    font-size:15px;

}