##################################
# General
##################################
*.log
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

##################################
# Visual Studio / .NET
##################################
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
tailwind.extension.json


##################################
# Rider / JetBrains
##################################
.idea/
*.sln.iml

##################################
# ASP.NET Core
##################################
appsettings.Development.json
appsettings.Production.json

##################################
# Entity Framework
##################################
Migrations/
*.mdf
*.ldf

##################################
# Node / Frontend
##################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

##################################
# Frontend build
##################################
dist/
build/

##################################
# Environment variables
##################################
.env
.env.*
