@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-size: 18px;
    }
    html, body, * {
        font-family: 'Droid Arabic Kufi', serif !important;
        font-weight: 600 !important;
    }
}
